.DS_Store
.idea/
.vscode/
*.iml

# Secrets
.env
.env.*
!.env.example
*.creds
*.jks
*.jwk
*.key
*.p12
*.pem
*.pfx
*.tfvars
!*.tfvars.example

# Go
bin/
coverage.out
.cache/

# Gradle / Kotlin
.gradle/
.kotlin/
**/build/
local.properties

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
